{% extends 'base.html.twig' %}
{% block main_title %}Edit Pattern{% endblock %}

{% block body %}
    {{ form_start(edit_form) }}

    {{ form_row(edit_form.name) }}
    {{ form_row(edit_form.price) }}
    {{ form_row(edit_form.hook) }}
    {{ form_row(edit_form.gauge) }}
    {#{{ form_row(pattern_add_form.yarn) }}#}
    {{ form_row(edit_form.yardage) }}
    {{ form_row(edit_form.patternText) }}
    {{ form_row(edit_form.categories) }}
    {#{{ form_row(edit_form.picture) }}#}
    {#{{ form_row(edit_form.file) }}#}

    <button class="btn btn-primary" formnovalidate>Edit Pattern <span class="glyphicon glyphicon-arrow-right"></span>
    </button>

    {{ form_end(edit_form) }}
{% endblock %}