{% extends 'base.html.twig' %}
{% block main_title %}View Pattern{% endblock %}

{% block body %}
    {% if pattern == false %}
        <h3>Not such a thing o.O</h3>
    {% else %}
        <div class="product-container">
                <div>
                    <img width="550px" src="{{ asset('uploads/images/patterns/pictures/' ~ pattern.picture) }}"
                         alt="{{ pattern.name }} by {{ pattern.designer.name }}"
                         class="img-thumbnail rounded float-center" style="float: right">
            <h2>{{ pattern.name }} </h2>
            <h3>Designed by {{ pattern.designer.name }}</h3>
            <div class="product-body">
                Categories:
                {% if pattern.categories|length > 0 %}
                    <ul style="list-style: none; display: inline;">
                        {% for category in pattern.categories %}
                            <li style="display: inline">|<a class="card-link"
                                                            href="{{ path('category_view', {'id':category.id}) }}">
                                    {{ category.name }}
                                </a></li>
                        {% endfor %}
                    </ul>
                {% else %}
                    none ;(
                {% endif %}
                    <p>
                        <b>Published on: </b>{{ pattern.publishedDate|date("F jS \\a\\t g:ia", 'Europe/Sofia') }}
                    </p>
                    <p>
                        <b>Description:</b> {{ pattern.patternText }}
                    </p>
                    <p>
                        <b>Gauge:</b> {{ pattern.gauge }}
                    </p>
                    <p>
                        <b>Yardage:</b> {{ pattern.yardage }}
                    </p>
                    <p>
                        <b>Hook Size:</b> {{ pattern.hook.size }}
                    </p>
                    <p>
                        <b>Hook Size Letter:</b> {{ pattern.hook.letter }}
                    </p>
                    <p>
                        <b>Likes:</b>
                        {{ pattern.likes|length }}
                    </p>
                </div>
            </div>
            <div class="product-buttons">
                <a class="btn btn-info btn-xs" href="{{ asset('uploads/images/patterns/files/' ~ pattern.file) }}"
                   download="pattern-{{ pattern.name }}">Download Pattern file</a>
                {% if likable %}
                    <a class="btn btn-success btn-xs" href="{{ path('pattern_likes', {id: pattern.id}) }}">Like it!</a>
                {% else %}
                    <a class="btn btn-outline-danger btn-xs btn-disabled">You Liked This</a>
                {% endif %}
                <a class="btn btn-outline-info btn-xs" href="{{ path('pattern_diff', {id: pattern.id}) }}">Set Diff
                    Level!</a>
            </div>
        </div>
    {% endif %}
{% endblock %}