{% extends 'base.html.twig' %}
{% block main_title %}View Pattern{% endblock %}

{% block body %}
    <div>
        Name: {{ pattern.name }}
    </div>
    <div>
        Categories:
        <ul>
            {% for category in pattern.categories %}
                <li>{{ category.name }}</li>
            {% endfor %}
        </ul>
    </div>
    <div>
        By: {{ pattern.designer.name }}
    </div>
    <div>
        Price: {{ pattern.price }} $
    </div>
    <div>
        Published on: {{ pattern.publishedDate|date("F jS \\a\\t g:ia", 'Europe/Sofia') }}
    </div>
    <div>
        Gauge: {{ pattern.gauge }}
    </div>
    <div>
        Yardage: {{ pattern.yardage }}
    </div>
    <div>
        Description: {{ pattern.patternText }}
    </div>
    <div>
        Hook Size: {{ pattern.hook.size }}
    </div>
    <div>
        Hook Size Letter: {{ pattern.hook.letter }}
    </div>
    <div>
        Pictures:
        <img src="{{ asset('uploads/images/patterns/pictures/' ~ pattern.picture) }}" alt="{{ pattern.name }}"
             height="100px">
    </div>
    <div>
        Download your file:
        <a href="{{ asset('uploads/images/patterns/files/' ~ pattern.file) }}" download="pattern-{{ pattern.name }}">File</a>
    </div>
    <div>
        Likes:
        {{ pattern.likes|length }}

    </div>
    {% if (likable) %}
        <a class="btn btn"
           href="{{ path('pattern_likes', {id: pattern.id}) }}">Like it!
        </a>
    {% else %}
        You Liked This!
    {% endif %}

    <form method="post" action="{{ path('difficulty_add', {id: pattern.id}) }}">
        1<input step="1" type="range" min="1" max="10" name="level"/>10
        <button type="submit" class="btn btn-primary">Set Diff Level</button>
    </form>
{% endblock %}